machines:
  - name: coolmachine
    schedule: "@daily"
    backup:
      fs:
        source: ssh
        target: s3
        bucket: sweetbuck
        prefix: temp
        path:
          - /tmp
      db: # only local source is supported for now
        target: s3
        bucket: sweetbuck
        prefix: database/site
        auth:
          user: ""
          password: ""
    clean:
      source: local
      olderthan: 5
      path:
        - /tmp
remotes: # s3/local/ssh
  ssh:
    host: 0.0.0.0
    user: root
    key_file: /tmp/servo.pem
    key_file_pass: somepassword
  s3: # DO space
    key: AAAA
    secret: AAAAAAAAAAAAAAAAAA
    endpoint: sgp1.digitaloceanspaces.com

