machines:
  - name: coolmachine
    schedule: "@daily"
    backup:
      source: local
      target: s3
      bucket: sweetbuck
      prefix: temp/
      fspath:
        - /tmp
      db: # only local host is supported for now
        user: ""
        password: ""
    clean:
      source: local
      olderthan: 5
      path:
        - /tmp
remotes: # s3/local/ssh
  ssh:
    host: "0.0.0.0:22" 
    user: root
    key_file: /tmp/servo.pem
    key_file_pass: somepassword
  s3: # DO space
    key: AAAA
    secret: AAAAAAAAAAAAAAAAAA
    endpoint: sgp1.digitaloceanspaces.com

