[Unit]
Description=Server management tool
After=network.target

[Service]
Type=simple
ExecStart=/pkgs/servo service
ExecStop=/bin/kill -2 $MAINPID
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target