[Unit]
Description=Server management tool

[Service]
Type=simple
ExecStart=/pkgs/servo service
ExecStop=/usr/bin/pkill --signal SIGINT servo
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target