[Unit]
Description=Server management tool
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/pkgs/servo service
ExecStop=/bin/kill -2 $MAINPID
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target